@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-container {
  @include flex-col-center;
  background-color: antiquewhite;
  height: 100vh;
}

.login-content {
  @include flex-col-center;
  gap: 20px;

}

.form-text {
  color: #de7878;
}
