.game-container {
  background-color: rgb(250, 235, 215);
  height: 100vh;
}

.game-content {

}

.game-nav {
  color: white;
  min-height: 80px;
  background: #efbd63 linear-gradient(135deg, #977c5e, #efbd63, #3c2907);
  margin-bottom: 20px;

}
